<div>
    {% for post in postslist %}
        <div>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            <div>
                {{ post.data.description }}
            </div>
        </div>
    {% endfor %}
</div>